.about {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    //background: url(../../assets//img/02.jpg) no-repeat center center/cover;
    color: var(--default-color);
}

/* .about-container {
    width: 100vw;
    height: 100vh;
} */
.about-description {
    text-align: center;
}

.about-description h3 {
    font-size: 4rem;
    font-weight: 700;
}

.about-description p {
    font-size: 13pt;
    text-indent: center;
    color: var(--default-color);
}