.service {
  max-width: 100vw;
  height: 100vh;
  text-align: center;
}

.service h1 {
    margin: 4rem 0 0 2rem;
    padding: 1rem;
    font-weight: 100;
    font-size: 20pt;
    text-transform: uppercase;
}

.service-container {
    max-width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    text-align: center;
}

.ship {
    width: 25rem;
    height: 33rem;
    padding: 1rem;
    margin: 1rem 2rem;
  }

  .maintenance {
    width: 25rem;
    height: 33rem;
    padding: 1rem; 
    margin: 1rem 2rem;
  }

@media screen and (max-width: 800px) {
    .service {
        max-width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
      
      }
}