footer {
  a {
    text-decoration: none;
    color: var(--text-color);
    margin: .3rem;
  }
  .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    background: var(--default-color);
    font-size: 1rem;
  }
}
  